@tailwind utilities;
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.mapboxgl-popup-close-button {
  display: none;
}
